.botoes {
  display: flex;
  justify-content: space-evenly;
}

.circulo {
  content: '';
  background-color: rgb(250, 47, 1);
  padding: 5px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px;
}